.container-index-liquidaciones{
    width: 1000px;
    margin: 0 auto;
    padding: 50px 20px 20px 20px;
}

.btn-group-sm>.btn, .btn-sm {
    height: 30.6px;
    align-content: center;
    align-self: center;
    align-items: center;
}